/*" Custom "*/

@font-face {    
    font-family: Wisdom Script;    
    src: url(wisdomscript.otf);   
    }
    
@-webkit-keyframes zoom-out {
	
	0% {
		opacity: 1.0;
		-webkit-transform: scale(1,1);
	    }
	    
	100% {
		opacity: 0.0;
		-webkit-transform: scale(1.2,1.2);
	    }

}

@-webkit-keyframes zoom-in {
	
	0% {
		opacity: 0.0;
		-webkit-transform: scale(1.2,1.2);
	    }
	
	100% {
		opacity: 1.0;
		-webkit-transform: scale(1,1);
	    }

}


#button { 
    margin: 150px auto 0 auto;
    text-align: center;
    font-family: Wisdom Script, serif;
    font-size: 24px;
    line-height: 26px;
    padding: 10px 10px 5px 10px;
    color: rgba(130,130,130,0.9);
    text-shadow: 0 0 10px #fff;
    width: 74px;
    border: 1px solid rgba(140,140,140,0.9);
    border-radius: 24px;
    box-shadow: inset 0 0 10px #fff;
    background: rgba(255,255,255,0.1);
    -webkit-animation: zoom-in;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count: 1;
    }
    
#button:hover {
    -webkit-animation: zoom-out;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count: 1;
	opacity: 0.0;
    }


/*" Standard "*/

body {
    background: rgb(250,250,250) url(background.png);
    font-size: 12px;
    line-height: 16px;
    font-family: Helvetica, sans-serif;
    color: rgba(85,85,95,1.0);
    text-shadow: 0 -1px #fff;
    }
      
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    }

#footer { 
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-shadow: none;
    font-size: 11px;
    line-height: 11px;
    color: rgb(120,120,130);
    }